<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Pizza Non Trovata</title>
    <link rel="stylesheet" href="/static/styles_404.css">
</head>
<body>
    <div class="container">
        <img src="/static/images/pizza-not-found.jpg" alt="Pizza Non Trovata">
        <h1>Errore 404</h1>
        <p>Spiacente, la pizza che cerchi non è stata trovata!</p>
        <a href="{{ url_for('index') }}">Torna alla Home</a>
    </div>
</body>
</html>
